# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/LexicalAnalyzer/__pycache__/
/GUI/__pycache__/
/SyntaxAnalyzer/__pycache__/
/__pycache__/

# Ignore all files related to pycache
**/__pycache__/


